html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 100%; }

html, body {
  height: 100%; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

header {
  height: 100%;
  position: relative; }
  header .logo {
    z-index: 4;
    position: absolute;
    top: 3%;
    left: 20%;
    color: silver; }
    header .logo li {
      font-size: 0.77rem;
      font-family: Arial;
      letter-spacing: 0.12rem;
      margin-bottom: 7px;
      text-transform: uppercase; }
    header .logo .words {
      color: white;
      font-size: 1.5rem;
      font-family: none;
      font-weight: bold; }
  header .shares {
    z-index: 4;
    position: absolute;
    top: 4%;
    right: 20%; }
    header .shares a {
      font-size: 1.2rem;
      text-decoration: none;
      color: black;
      margin-right: 15px; }
  header .slides {
    height: 100%; }
    header .slides ul {
      height: 100%; }
    header .slides .slide {
      height: 100%;
      width: 65%;
      opacity: 0;
      position: absolute; }
    header .slides .visible {
      opacity: 1;
      transition: 1s; }
    header .slides .first {
      z-index: 3;
      background: url("../img/slide_1.jpg") -18em 0em no-repeat;
      background-size: cover; }
    header .slides .second {
      z-index: 2;
      background: url("../img/slide_2.jpg") -6em 0em no-repeat; }
    header .slides .third {
      z-index: 1;
      background: url("../img/slide_3.jpg") -6em 0em no-repeat; }
  header .posts .post {
    z-index: 4;
    width: 770px;
    position: absolute;
    left: 33%;
    top: 30%;
    opacity: 0;
    padding: 6.5em 6em;
    color: white;
    background-color: rgba(75, 142, 198, 0.9); }
    header .posts .post span {
      font-family: Arial;
      font-size: 0.7rem;
      display: block;
      margin-bottom: 25px;
      letter-spacing: 0.22rem; }
    header .posts .post h2 {
      font-size: 4.5rem;
      margin-bottom: 30px; }
    header .posts .post p {
      font-size: 1.1rem;
      letter-spacing: 0.04rem;
      line-height: 1.6;
      font-family: Arial; }
  header .posts .visible {
    opacity: 1;
    top: 20%;
    transition: 1.2s; }
  header .dots {
    z-index: 4;
    position: absolute;
    cursor: pointer;
    bottom: 3.5%;
    left: 30%; }
    header .dots .dot {
      margin-right: 5px;
      display: inline-block;
      width: 13px;
      height: 13px;
      background-color: rgba(134, 136, 138, 0.4);
      border-radius: 50%; }
    header .dots .active {
      background-color: rgba(255, 255, 255, 0.7);
      transition: 1s; }

.block_1 {
  height: 100%;
  padding-top: 11em; }
  .block_1 .header {
    text-align: center; }
    .block_1 .header a {
      text-decoration: none;
      color: rgba(75, 142, 198, 0.9); }
    .block_1 .header h2 {
      font-size: 2.8rem;
      margin-bottom: 40px; }
    .block_1 .header p {
      font-size: 1.07rem;
      letter-spacing: 0.05rem;
      font-family: Arial; }
  .block_1 .container_1 {
    height: 100%;
    position: relative; }
    .block_1 .container_1 .background {
      height: 100%;
      background: url("../img/featured-1.jpg") no-repeat;
      background-size: 55% auto;
      background-position: 100% 7em; }
    .block_1 .container_1 .post {
      position: absolute;
      text-align: right;
      top: 23%;
      left: 9%;
      width: 920px;
      color: white;
      padding: 7.5em 6em;
      background-color: rgba(75, 142, 198, 0.9); }
      .block_1 .container_1 .post span {
        font-family: Arial;
        font-size: 0.7rem;
        display: block;
        margin-bottom: 25px;
        letter-spacing: 0.22rem; }
      .block_1 .container_1 .post h2 {
        font-size: 2.6rem;
        margin-bottom: 30px;
        line-height: 1.2; }
      .block_1 .container_1 .post p {
        letter-spacing: 0.07rem;
        line-height: 1.6;
        font-family: Arial; }

.block_2 {
  padding-top: 10em;
  padding-bottom: 10em; }
  .block_2 .header {
    text-align: center; }
    .block_2 .header a {
      text-decoration: none;
      color: rgba(75, 142, 198, 0.9); }
    .block_2 .header h2 {
      font-size: 2.8rem;
      margin-bottom: 40px; }
    .block_2 .header p {
      margin: 0 auto;
      width: 750px;
      line-height: 1.7;
      font-size: 1.07rem;
      letter-spacing: 0.05rem;
      font-family: Arial; }
  .block_2 .personnel {
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 5.5em;
    display: flex; }
    .block_2 .personnel .person {
      margin: 0 15px;
      width: 260px; }
      .block_2 .personnel .person img {
        width: 260px; }
      .block_2 .personnel .person h2 {
        font-size: 1.6rem;
        margin-top: 15px; }
      .block_2 .personnel .person span {
        display: block;
        font-family: Arial;
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        margin-top: 8px;
        margin-bottom: 30px; }
      .block_2 .personnel .person p {
        font-size: 1.2rem;
        font-family: Arial;
        line-height: 1.7; }
    .block_2 .personnel .shares {
      margin-top: 2.2em; }
      .block_2 .personnel .shares a {
        font-size: 1.3rem;
        text-decoration: none;
        color: black;
        margin-left: 20px; }

.block_3 {
  background-color: #f2f2f2;
  padding-bottom: 10em;
  padding-top: 9.5em; }
  .block_3 .header {
    text-align: center; }
    .block_3 .header a {
      text-decoration: none;
      color: rgba(75, 142, 198, 0.9); }
    .block_3 .header h2 {
      font-size: 2.8rem;
      margin-bottom: 40px; }
    .block_3 .header p {
      margin: 0 auto;
      width: 750px;
      line-height: 1.7;
      font-size: 1.07rem;
      letter-spacing: 0.05rem;
      font-family: Arial; }
  .block_3 .posts {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 5em; }
    .block_3 .posts .post {
      float: left;
      background-color: white;
      width: 350px;
      margin: 0 15px; }
      .block_3 .posts .post img {
        width: 350px; }
      .block_3 .posts .post a {
        text-decoration: none;
        color: black; }
    .block_3 .posts .descr {
      padding: 35px 30px; }
      .block_3 .posts .descr .comments {
        float: right; }
        .block_3 .posts .descr .comments i {
          padding-left: 10px; }
      .block_3 .posts .descr .date-of-publish {
        margin-bottom: 35px;
        font-family: Arial;
        font-size: 0.75rem;
        letter-spacing: 0.2rem; }
      .block_3 .posts .descr h2 {
        font-size: 2rem;
        margin-bottom: 35px; }
      .block_3 .posts .descr p {
        font-size: 1.2rem;
        font-family: Arial;
        line-height: 1.6; }
